.filter-none { filter: none; }
.filter-blur { filter: blur(8px); }
.filter-brightness-50 { filter: brightness(.5); }
.filter-brightness-75 { filter: brightness(.75); }
.filter-brightness-90 { filter: brightness(.9); }
.filter-brightness-95 { filter: brightness(.95); }
.filter-brightness-100 { filter: brightness(1); }
.filter-brightness-105 { filter: brightness(1.05); }
.filter-brightness-110 { filter: brightness(1.1); }
.filter-brightness-125 { filter: brightness(1.25); }
.filter-brightness-150 { filter: brightness(1.5); }
.filter-brightness-200 { filter: brightness(2); }

.filter-contrast-0 { filter: contrast(0); }
.filter-contrast-50 { filter: contrast(.5); }
.filter-contrast-75 { filter: contrast(.75); }
.filter-contrast-100 { filter: contrast(1); }
.filter-contrast-125 { filter: contrast(1.25); }
.filter-contrast-150 { filter: contrast(1.5); }

.filter-grayscale-0 { filter: grayscale(0); }
.filter-grayscale { filter: grayscale(1); }

.filter-hue-rotate-0 { filter: hue-rotate(0deg); }
.filter-hue-rotate-15 { filter: hue-rotate(15deg); }
.filter-hue-rotate-30 { filter: hue-rotate(30deg); }
.filter-hue-rotate-60 { filter: hue-rotate(60deg); }
.filter-hue-rotate-90 { filter: hue-rotate(90deg); }
.filter-hue-rotate-180 { filter: hue-rotate(180deg); }

.filter-invert-0 { filter: invert(0); }
.filter-invert { filter: invert(1); }

.filter-saturate-0 { filter: saturate(0); }
.filter-saturate-50 { filter: saturate(.5); }
.filter-saturate-100 { filter: saturate(1); }
.filter-saturate-150 { filter: saturate(1.5); }
.filter-saturate-200 { filter: saturate(2); }

.filter-sepia-0 { filter: sepia(0); }
.filter-sepia { filter: sepia(1); }

.backdrop-filter-none { backdrop-filter: none; }
.backdrop-filter-blur { backdrop-filter: blur(8px); }
.backdrop-filter-brightness-50 { backdrop-filter: brightness(.5); }
.backdrop-filter-brightness-75 { backdrop-filter: brightness(.75); }
.backdrop-filter-brightness-90 { backdrop-filter: brightness(.9); }
.backdrop-filter-brightness-95 { backdrop-filter: brightness(.95); }
.backdrop-filter-brightness-100 { backdrop-filter: brightness(1); }
.backdrop-filter-brightness-105 { backdrop-filter: brightness(1.05); }
.backdrop-filter-brightness-110 { backdrop-filter: brightness(1.1); }
.backdrop-filter-brightness-125 { backdrop-filter: brightness(1.25); }
.backdrop-filter-brightness-150 { backdrop-filter: brightness(1.5); }
.backdrop-filter-brightness-200 { backdrop-filter: brightness(2); }

.backdrop-filter-contrast-0 { backdrop-filter: contrast(0); }
.backdrop-filter-contrast-50 { backdrop-filter: contrast(.5); }
.backdrop-filter-contrast-75 { backdrop-filter: contrast(.75); }
.backdrop-filter-contrast-100 { backdrop-filter: contrast(1); }
.backdrop-filter-contrast-125 { backdrop-filter: contrast(1.25); }
.backdrop-filter-contrast-150 { backdrop-filter: contrast(1.5); }

.backdrop-filter-grayscale-0 { backdrop-filter: grayscale(0); }
.backdrop-filter-grayscale { backdrop-filter: grayscale(1); }

.backdrop-filter-hue-rotate-0 { backdrop-filter: hue-rotate(0deg); }
.backdrop-filter-hue-rotate-15 { backdrop-filter: hue-rotate(15deg); }
.backdrop-filter-hue-rotate-30 { backdrop-filter: hue-rotate(30deg); }
.backdrop-filter-hue-rotate-60 { backdrop-filter: hue-rotate(60deg); }
.backdrop-filter-hue-rotate-90 { backdrop-filter: hue-rotate(90deg); }
.backdrop-filter-hue-rotate-180 { backdrop-filter: hue-rotate(180deg); }

.backdrop-filter-invert-0 { backdrop-filter: invert(0); }
.backdrop-filter-invert { backdrop-filter: invert(1); }

.backdrop-filter-saturate-0 { backdrop-filter: saturate(0); }
.backdrop-filter-saturate-50 { backdrop-filter: saturate(.5); }
.backdrop-filter-saturate-100 { backdrop-filter: saturate(1); }
.backdrop-filter-saturate-150 { backdrop-filter: saturate(1.5); }
.backdrop-filter-saturate-200 { backdrop-filter: saturate(2); }

.backdrop-filter-sepia-0 { backdrop-filter: sepia(0); }
.backdrop-filter-sepia { backdrop-filter: sepia(1); }
